/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
/* Colors */
.custom-background,.custom-background:hover{color:#000!important;background-color:#1A1A1A!important}
.custom-card-background,.custom-card-background:hover{color:#000!important;background-color:#262626!important}
.custom-accent-color,.custom-accent-color:hover{color: #000,!important;background-color: #60C689;}
.custom-text-accent,.custom-text-accent:hover{color:#60C689!important}
.custom-text-body,.custom-text-body:hover{color:#fef7e4!important}
.custom-accent-darkened, .custom-accent-darkened:hover{color:#000!important;background-color:#3D7052!important}
.custom-text-darkened, .custom-text-darkened:hover{color: #262626}

.right-aligned{
  width:33.33%;
  right: 200px;
  position: absolute;
  margin-top: 15px;
}

.custom-nav, .custom-nav:hover{
  color: #262626!important;
  background-color: #3D7052!important;
}

.right-image {
  position: absolute;
  right: 10px;
  width: 33.3333%;
  margin: 10px;
  height: 95%;
}

.right-text{
  position: inherit;
  right: 10px;
  width: 62%;
  margin: 10px;
  height: 95%;
  text-align: left;
}

.left-image {
  position: absolute;
  left: 10px;
  width: 33.3333%;
  margin: 10px;
  height: 95%;
}

.left-text{
  position: inherit;
  left: 10px;
  width: 66.666667%;
  margin: 10px;
  height: 95%;
  text-align: left;
  padding-right:125px
}



.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

h6.small {
  line-height: 0.7;
}

h3.small {
  line-height: 0.3;
}

h4.small {
  line-height: 0.3;
}

h1.small {
  line-height: 0.3;
}

p.small {
  line-height: 0.7;
}

hr.thinline {
  line-height: 07;
  width: 35%;
}

.about-dynamic-card {
  background-color: transparent;
  width: 100%;
  height: 700px;
  float: left;
  perspective: 1000px;
  padding: 10px 0px;
}

.about-dynamic-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.about-dynamic-card.toggled .about-dynamic-card-inner {
  transform: rotateY(180deg);
}

.about-dynamic-card-front, .about-dynamic-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.about-dynamic-card-front {
  background-color: #262626;
  color: #fef7e4;
}

.about-dynamic-card-back {
  background-color: #262626;
  color: #fef7e4;
  transform: rotateY(180deg);
}

.about-dynamic-card-back span{
  align-self: flex-end;
}

@media screen and (max-width: 1500px) {
  .left-image, .right-image, .right-aligned{
    max-width: 0%;
    max-height:0%;
    visibility: hidden;
  }
  .left-text, .right-text{
    vertical-align: top;
    left: 0px;
    position: inherit;
    text-align: left;
    width: 100%;
    right: 0px;
    padding: 50px
  }
  .about-dynamic-card{
    min-height: fit-content;
    max-width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .left-text, .right-text{
    vertical-align: top;
    left: 0px;
    position: inherit;
    text-align: left;
    width: 100%;
    right: 0px;
    padding: 50px;
    overflow: scroll;
  }
  .about-dynamic-card{
    min-height: 1000px;
    max-width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .left-text, .right-text{
    overflow: scroll;
  }
  .about-dynamic-card{
    min-height: 1250px;
    max-width: 95%;
    overflow: hidden;
  }
}



.custom-dynamic-card {
  background-color: transparent;
  width: 33.3333%;
  height: 500px;
  float: left;
  perspective: 1000px;
  padding: 0 10px;
}

.custom-dynamic-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.custom-dynamic-card:hover .custom-dynamic-card-inner {
  transform: rotateY(180deg);
}

.custom-dynamic-card-front, .custom-dynamic-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.custom-dynamic-card-front {
  background-color: #262626;
  color: #60C689;
}

.custom-dynamic-card-back {
  background-color: #60C689;
  color: #fef7e4;
  transform: rotateY(180deg);
}

.custom-dynamic-card-back span{
  align-self: flex-end;
}

.dynamic-card-text {
  padding: 30px;
  margin-top: 50px;
}


@media screen and (max-width: 1300px) {
  .custom-dynamic-card{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 10px;
  }
  .dynamic-card-text{
    padding: 10px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 800px) {
  .custom-dynamic-card{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    padding-top: 10px;
  }
  .dynamic-card-text{
    padding: 10px;
    margin-top: 10px;
  }

}


span.centered {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

a.large-text {
  font-size: 25px;
}

a.medium-text {
  font-size: 17px;
}

a.medium-ish-text {
  font-size: 20px;
}

h1.extra-large {
  font-size: 75px;
}

.parallax {
  /* The image used */
  background-image: url('/media/home_photo.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input.contact, textarea.contact{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #404040;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #404040;
  color: #d9d9d9;
}

div.contact {
  border-radius: 5px;
  background-color: #333333;
  padding: 20px;
}
